@use "./variables" as v;

@mixin cell-button {
  width: v.$cell_size;
  height: v.$cell_size;
  padding: 0;
  margin: 0;
  touch-action: none;
  box-shadow: 0 0 0 1px v.$my-gray;
}

@mixin button-3d {
  font-size: 0.9em;
  margin: 1em 1px;
  padding: 3px 2px;
  width: 90%;
  height: 3rem;
  min-width: 4vw !important;
  min-height: 2vw !important;
  display: inline;
  text-align: center;
  box-sizing: border-box;
  opacity: 0.9;
  transition: 0.2s;
  overflow: hidden;
  overflow-wrap: normal;
  white-space: pre-line;
  border-radius: 5px;

  &:hover {
    opacity: 1;
  }

  &:not(:active) {
    box-shadow: 2px 4px 1px 0 rgba(152, 148, 148, 0.67);
  }

  &:active {
    transform: translateX(2px) translateY(3px);
    box-shadow: 0px 1px 1px 0 rgba(152, 148, 148, 0.67);
  }
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
