@import "./styles/variables";
@import "./styles/mixins";
@import "./styles/spinner";
@import "index.scss";

.wrapper {
  display: flex;
  justify-content: center;
  background-color: $background-color;
  color: $text-color;
  width: 100%;
  overflow-x: hidden;
  position: relative !important;

  ul {
    margin: 0;
    padding: 0;

    li {
      margin: 1em;
      display: flex;
      justify-content: center;

      a {
        margin: auto;
        text-align: center;
      }

      button {
        box-sizing: border-box;
        opacity: 0.9;
        transition: 0.3s;
        min-width: 120px;
        min-height: 20px;
        max-width: $btn-width;
        max-height: $btn-height;
        font-size: $btn-font;
        max-width: 98%;
        margin: auto;
        border: 0;
        inline-size: min-content;
        white-space: nowrap;

        &:hover {
          opacity: 1;
        }

        &:not(:active) {
          box-shadow: 2px 4px 1px 0 rgba(152, 148, 148, 0.67);
        }

        &:active {
          transform: translateX(2px) translateY(3px);
          box-shadow: 0px 1px 1px 0 rgba(152, 148, 148, 0.67);
        }
      }

      a.active-page {
        button {
          box-sizing: border-box;
          text-decoration: underline dotted;
          background-color: $text-color;
        }
      }

      a.inactive-page {
        button {
          box-sizing: border-box;
          background-color: reset;
          position: relative;
          text-decoration: underline solid;
        }
      }
    }
  }

  aside {
    margin: 40px 0;
  }
}

.started {
  background-color: #f7a2c8;
}

.iddle {
  background-color: #acd5a3;
}



.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media (min-width: 768px) {
  .wrapper {
    position: inherit;
    // margin: 0 0 0 240px;
    min-height: 2002px;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.cell-button {
  @include cell-button;

  &:not(.selected) {
    color: $background-color;
    // color: white;
    background-color: $background-color;
  }

  &.selected {
    color: $react-turkiz;
    // color: white;
    background-color: $react-turkiz;
  }
}

.board {
  font-size: 12px;
  width: '100%';
  height: '100%';
  border: 0;
  padding: 20px;

}

.board-container {
  display: grid;
  border: 0.25px solid gray;
  width: fit-content;
  height: fit-content;
}

.sidebar-wrapper {
  flex-basis: 20%;
}

.board-wrapper {
  flex-basis: 80%;
}

.description {
  padding: 0 2em;
  font-size: 1.2em;
  text-align: justify;
}