@import "./styles/variables";
@import "./styles/mixins";
@import "./styles/spinner";
@import "index.scss";

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: $background-color;
  color: $text-color;
  width: 100%;
  overflow-x: hidden;
  position: relative !important;
  max-width: 2048px;
  margin: auto;

  .sidebar-content {
    max-width: 568px;
    margin: 2rem auto 0;

    ul {
      margin: 0;
      padding: 0;

      li {
        margin: 3em 0;
        display: flex;
        justify-content: center;

        &>* {
          min-width: 164px;
          min-height: 24px;
          height: 2rem;
          max-width: 90%;

          button {
            width: 100%;
          }
        }

        button {
          @include button-3d;
          background-color: whitesmoke;
        }

        a {
          display: inline-block;
          width: 100%;
          margin: auto;
          text-align: center;
        }



        a.active-page {
          button {
            box-sizing: border-box;
            text-decoration: underline dotted;
            background-color: $text-color;
          }
        }

        a.inactive-page {
          button {
            box-sizing: border-box;
            position: relative;
            text-decoration: underline solid;
          }
        }
      }
    }
  }

  aside {
    margin: 40px 0;
  }
}

.started {
  background-color: #f7a2c8 !important;
}

.iddle {
  background-color: #acd5a3 !important;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.cell-button {
  @include cell-button;

  &:not(.selected) {
    color: $background-color;
    background-color: $background-color;
  }

  &.selected {
    color: $react-turkiz;
    background-color: $react-turkiz;
  }

  &.non-drawable {
    border: 1px solid $background-color;
  }
}


.board-container {
  display: grid;
  grid-gap: 0 0;
  width: fit-content;
  height: fit-content;
  margin: auto;
}

.board-wrapper {
  flex: 75%;
  font-size: 12px;
  border: 0;
  display: flex;
  align-items: stretch;
  justify-content: space-around;

  fieldset {
    flex: 0 1 100%;
    border: 0;
    margin: 0;
  }
}

.patterns-wrapper {
  display: flex;

  fieldset {
    border: 0;
    margin: 0;
    padding: 5px;
  }
}

.pattern {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}



.sidebar-wrapper {
  display: flex;
}

.description {
  padding: 1em 2em;
  margin: 0.5em;
  font-size: 1.2em;
  text-align: justify;
  border: 2px solid gray;
  border-radius: 15px;

  &.selection {
    max-width: 60%;
    margin: auto;
  }

  span {
    a {
      color: $react-turkiz;
    }
  }
}

span.counter {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid gray;
  text-align: center;
  border-radius: 0.25rem;
  color: gray;
  padding: 2px;
}

.button-group {
  padding: 5px;
  display: flex;
  justify-content: space-around;
  margin: 6px 0 0;

  button {
    @include button-3d;

    flex: 0 0 45%;
    height: 2em;
    font-size: 0.8em;

    &.load {
      background-color: rgba(245, 245, 245, 0.88);
    }

    &.delete {
      background-color: #f0d4e8ea;
    }
  }

}

@media (max-width: 1024px) {

  .board-wrapper,
  .sidebar-wrapper,
  .patterns-wrapper {
    flex: 100%;
  }

  .desktop-start {
    display: none;
  }

  .mobile-start {
    display: flex;
    flex-direction: column;
    min-width: 7em;
    align-items: center;
    justify-content: center;

    &>:first-child {
      margin-bottom: 3em;
    }
  }

  .board-container {
    border: 0;
  }
}


@media (min-width: 1025px) {

  .board-wrapper,
  .patterns-wrapper {
    flex: 70%;
  }

  .sidebar-wrapper {
    flex: 25%;
  }

  .mobile-start {
    display: none;
  }

  .desktop-start {
    display: block;
  }

  .board-container {
    border: 1px solid gray;
  }
}